// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Color
   $primary:#C30053;  
  $secondary:#FF006C;   
/* $gob: rgb(121, 20, 20); */
